#depoimentos {
  background-color: #221e3d;
}
#depoimentos .section-title{
  color: yellow;
}

#depoimentos .section-title-small{
  color: #fff;
}
#howitdepoimentosworks .section-subtitle{
  color: #fff;

}