#headline-banner{
  width: 100%;
  height: 480px;
  overflow: hidden;
  background-image: url(../../../../assets/home/headline/webp/hd-xl.webp);
  background-position: center center;
  background-size: cover;
  position: relative;
}
.come-button{
  position: absolute;
  bottom:-34vh;top:0;right:  0;left: 450px;
  margin: auto;
  width: 240px;
  font-size: 1.1em;
  padding: 0 0 3px;
  height: 42px;
  background-color: rgb(33, 138, 77);
  border: none;
  border-radius: 5px;
  color: white;
  z-index: 1;
  cursor: pointer;
}

.come-button::after{
  content: "";  position: absolute; bottom:10px;top:0;right:  0;left: 0;
  margin: auto;  width: 100%; height: 100%;z-index: -1;
  border-radius: 5px;
  background-color:  rgb(33, 155, 84);
}
.come-button:active{
  transform: scale(.98);
  background-color:  rgb(18, 131, 63);
}
.come-button:focus{
  outline: none;
}

.come-button:hover::after{
  background-color:  rgb(42, 175, 98);
}


@media only screen and (max-width: 1024px){
  #headline-banner{
    width: 100%;
    height: 360px;
   background-image: url(../../../../assets/home/headline/webp/hd-lg.webp);
    background-size: cover;
    background-position: center center;
  }
  .come-button{
  
    bottom:-26vh;top:0;right:  0;left: 340px;
    font-size: 1em;
 
  }
}

@media only screen and (max-width: 756px){
  #headline-banner{
   background-image: url(../../../../assets/home/headline/webp/hd-md.webp); 
    height: 240px;
  }
  .come-button{
    bottom:-19vh;top:0;right:  0;left: 240px;
    padding-bottom: 6px;
    font-size: .9em;
    height: 28px;
    width: 180px;
  }
}

@media only screen and (max-width: 520px){
  #headline-banner{
    background-image: url(../../../../assets/home/headline/webp/hd-sm.webp); 
  }
  .come-button{
    display: none;
  }
}