#sobre{
  background-color: #d51247;
  color: #fff;
  z-index: 1;
  position: relative;
  box-shadow: inset -2px 0px 20px #0008;
}
#sobre .section-title{
  color: #fff;
}

#sobre .section-title-small{
  color: #fff;
}
#sobre .section-subtitle{
  color: #fff;
}

#sobre::after{
  content: "";
  width: 338px;
  height: 110%;
  position: absolute;
  top: 0;right: 15vw;
  left: auto;
  background-image: url("../../../../assets//home/sobre/escadavec.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: top right;
  z-index: -1;
} 

.sobre-table{
  display: grid;
  grid-template-columns: 3fr 1fr;
  row-gap: 16px;
}


ul.topics{
  list-style-type: square;
  text-decoration: none;

} 
.topics li{
  margin: 8px 28px;
  /* text-decoration: none; */
}

@media only screen and (max-width: 1424px){
  #sobre::after{
    right: 48px;
    opacity: .7;
  } 
}
@media only screen and (max-width: 1024px){
  #sobre::after{
    display: none;
  } 
}
@media only screen and (max-width: 756px){

  .topics{
    font-size: 1.1em;
    line-height: 1em;
    max-width: unset;
  }
  .sobre-table{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    row-gap: 10px;
  }
  
}